 
.ant-card {
  background-color: #1c1c1c; 
  border: none;
  color: #ffffff;
}
.font-color {
  color:#ffffff !important;
  
}
.pasos {
  font-weight: bold;
}

.ant-card-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff !important; 
}
.ant-card p, .ant-card h2 {
  color: #ffffff;
  line-height: 1.6;
}
.custom-title {
  color: #ffffff;
  
  font-weight: bold;
}
.ant-list-item {
  color: #ffffff;
}



.spotify-library-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

.custom-card {
  background-color: #1c1c1c;
  border: none;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 100%; 
  width: 100%;
}
.img-container {
  display: flex;               
  justify-content: center;    
  align-items: center;         
            
}
.custom-tabs .ant-tabs-nav .ant-tabs-tab {
  color: white !important; 
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab-active {
  color: white !important; 
}

.img {
  width: 70%;                 
  height: 70%;                
  object-fit: contain;        
}
.custom-title {
  font-size: 2em;
  font-weight: bold;
  
  display: flex;
  align-items: center;
  gap: 8px;
}

.instruction {
  font-size: 1.1em;
  margin-bottom: 15px;
  color: #b3b3b3;
}

.step-container {
  margin-bottom: 20px;
  padding-left: 20px;
}

.pasos {
  font-size: 1.2em;
  font-weight: bold;
  color: #1db954;
  display: flex;
  align-items: center;
  gap: 6px;
}
.spotify-button {
  background-color: #1DB954; 
  border: none; 
  border-radius: 50px; 
  color: rgb(0, 0, 0); 
  padding: 10px 20px; 
  font-size: 16px; 
  width: 20%; 
  margin-top: 20px;font-weight: bold;
}

.spotify-button:hover {
  background-color: #45d778 !important; 
  cursor: pointer;
  color: black !important;
}

.spotify-button:focus {
  outline: none; 
}

.sub-step-container {
  margin-bottom: 20px;
  padding-left: 40px;
}

.sub-step {
  font-size: 1.1em;
  font-weight: bold;
  color: #b3b3b3;
  margin-top: 10px;
}

a {
  color: #1db954;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
}

p {
  line-height: 1.6;
}


@media (max-width: 768px) {
  .spotify-library-container {
    padding: 10px;
  }

  .ant-card {
    font-size: 0.9em;
  }

  .ant-card-title {
    font-size: 1.5em;
  }
}
