.ant-tabs-nav-list {
  font-weight: bold;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
}

:where(.css-dev-only-do-not-override-tpassh).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1DB954 !important;
  text-shadow: 0 0 0.25px currentcolor;
}

:where(.css-dev-only-do-not-override-tpassh).ant-tabs .ant-tabs-ink-bar {
  position: absolute;
  background: #1DB954;
  pointer-events: none;
}