:where(.css-dev-only-do-not-override-tpassh).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1db954;
    text-shadow: 0 0 0.25px currentcolor;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
}

:where(.css-dev-only-do-not-override-tpassh).ant-tabs .ant-tabs-ink-bar {
    position: absolute;
    background: #1db748;
    pointer-events: none;
}
:where(.css-dev-only-do-not-override-tpassh).ant-tabs .ant-tabs-tab-btn {
    font-weight: bold;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    outline: none;
    transition: all 0.3s;
}