.home-container {
  padding: 20px;
  border-radius: 8px;
  height: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
}

.content-wrapper {
  padding: 20px;
  border-radius: 8px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }
  
  .content-wrapper {
    padding: 10px;
    width: 100%;
  }
}
