.App {
  display: grid;
  grid-template-columns: 256px 1fr; /* 256px para el sidebar, 1fr para el contenido (home) */
  grid-template-rows: 60px 1fr; /* 60px para el navbar, el contenido toma el resto */
  grid-template-areas:
    "navbar navbar"
    "sidebar home";
  height: 100vh;
  background: linear-gradient(180deg, #1db954 2%, #191414 98%); /* Reducimos el verde al 5% */
}

.Navbar {
  grid-area: navbar;
  background-color: #333;
  color: white;
  padding: 10px;
}

.Sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
}

.content {
  grid-area: home;
}

.Home {
  height: 100%;
  overflow-y: auto;
}