.footer {
  background-color: #0d0d0e;  /* Fondo oscuro similar al de Spotify */
  padding: 20px 0;
  position: fixed;  /* Fijo en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;  /* Alinea los elementos en el centro */
  color: #ffffff;  /* Texto blanco */
  font-family: 'Circular Std', sans-serif;  /* Tipografía de Spotify */
}

/* Estilo para las columnas del pie de página */
.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Estilo para los textos */
.footer-text {
  font-size: 14px;
  text-align: center;
}

/* Asegura que todos los enlaces sean blancos */
.footer-text a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px;
}

/* Efecto hover para enlaces */
.footer-text a:hover {
  text-decoration: underline;
}
span.ant-typography.footer-text.css-dev-only-do-not-override-tpassh {
    color: white;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
}